:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

/* цвет основного текста #757575 */
/* акцент #2196F3  */
/* белый цвет #FFFFFF */
/* цвет второстепенного цвета #212121 */
/* вторичный цвет фона #F5F4FA */

body {
  background-color: #ffffff;
  color: var(--primery-text-color);
}

.logo {
  color: #000000;
}

.logo .second-color {
  color: var(--accent-color);
}

/* site nav */

.site-nav .link {
  color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primery-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: #2f303a;
}

.hero .hero-title {
  color: #ffffff;
}

.hero .hero-button {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* advantages */

.advantages .advantages-title {
  color: var(--secondary-text-color);
}

/* activity */

.activity .activity-title {
  color: var(--secondary-text-color);
}

/* team */

.team .team-title {
  color: var(--secondary-text-color);
}

.team .team-member {
  color: var(--secondary-text-color);
}

/* footer */

footer {
  background-color: #2f303a;
}

.logo .logo-style {
  color: #ffffff;
}

.comp-address {
  color: #ffffff;
}

footer .address-link {
  color: rgba(255, 255, 255, 0.6);
}

/* page-portfolio */

.portfolio-link {
  background-color: #f5f4fa;
  color: var(--secondary-text-color);
}

.portfolio-link:hover,
.portfolio-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
